<div class="container-fluid footer mt-5">
    <div class="row">
        
        <div class="col-lg-3 mt-3 mb-3">
            <h1>KIDS KINGDOM</h1>
            <p>Make your kids cute</p>
        </div>
      
        <div class="col-lg-2 mt-3 mb-3">
            <h5 class="cnt"><strong>COMPANY</strong></h5>
            <a routerLink="about">About</a><br>
            <a routerLink="contact">Contact us</a><br>
            <a routerLink="contact">Support</a><br>
            <a routerLink="menu">Collections</a>
        </div>

         <div class="col-lg-2 mt-3 mb-3">
            <h5 class="cnt"><strong>QUICK LINK</strong></h5>
            <a href="https://www.google.com/maps/@10.8211663,78.2897649,7z?entry=ttu">Share Location</a><br>
            <a href="https://www.google.com/maps/@10.8211663,78.2897649,7z?entry=ttu">Orders Tracking</a><br>
            <a routerLink="menu">Size Guide</a><br>
            <a routerLink="contact">FAQs</a>
        </div>

        <div class="col-lg-3 mt-3 mb-3">
            <h5 class="cnt"><strong>LEGAL</strong></h5>
            <a href="https://lizjacob.com/terms-conditions/">Terms & Conditions</a><br>
            <a href="https://clothesforkids.org/privacy-policy/">Privacy Policy</a><br>
            <a routerLink="contact">Need help</a><br>
            
            
        </div>
        
        <div class="col-lg-2 mt-2 mb-1">
            <h5 class="cnt"><strong>Contact us on...</strong> </h5>
            <a href="https://www.facebook.com/campaign/landing.php?campaign_id=15316858002&extra_1=s%7Cc%7C589521711734%7Cb%7Cfacebook%7C&placement=&creative=589521711734&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D15316858002%26adgroupid%3D130780223435%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-592856129%26loc_physical_ms%3D1007810%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjw38SoBhB6EiwA8EQVLq-XNegqbittT0jT5SnzNaMW7XIxv6nYH51P7h4w8EdNA-Sbg-zLwBoCD0sQAvD_BwE" target="_blank"><i class="bi bi-facebook"></i>Facebook</a><br>
            <a href="https://web.whatsapp.com/#" target="_blank"><i class="bi bi-whatsapp"></i>Whatsapp</a><br>
            <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Faccounts%2Fedit%2F%3F__coig_login%3D1" target="_blank"><i class="bi bi-instagram"></i>Instagram</a><br>
            <a href="https://www.youtube.com/account" target="_blank"><i class="bi bi-youtube"></i>Youtube</a>
        </div>
    </div>
</div>