<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p class="abt">
        We're Kids Kingdom, India's largest online kids’ fashion brand. We promise to transform every moment in your little one’s life into a stylish. From playtime to bedtime. From infancy to childhood. And everything in between. We curate the most fashionable and on-trend head-to-toe looks for every kid, every occasion and every moment of childhood. <br><br>

We bring you what your kids will love and yet be comfortable in by scouring the world and hand-picking aww-some new styles every single day. <br><br>

We're big believers in the little details becoz we know a darling embellishment here and a snazzy bow tie there can go a long way. We've taken great care in curating fun-loving, free-spirited styles that will forever delight you, your little one and your pocket. <br><br>

Enough about us already. It's time to create your stylish kids kingdom. Let’s get shopping.
    </p>

</div>